<form action="/fornecedor/store" method="post">
    <div class="form-group">
        <label for="campo-razao-social">Razao Social</label>
        <input class="form-control" type="text" id="campo-razao-social" name="fornecedor.RazaoSocial" required="required" />
    </div>
    <div class="form-group">
        <label for="campo-nome-fantasia">Nome Fantasia</label>
        <input class="form-control" type="text" id="campo-nome-fantasia" name="fornecedor.NomeFantasia" required="required" />
    </div>
    <div class="form-group">
        <label for="campo-inscricao-estadual">Inscrição Estadual</label>
        <input class="form-control" type="text" id="campo-inscricao-estadual" name="fornecedor.Inscricaoestadual" required="required" />
    </div>
    <div class="float-right mb-4">
        <button class="btn btn-success" type="submit" value="salvar"><i class="far fa-save"></i> Salvar</button>
    </div>
</form>
