<h3 class="text-center text-info">Fornecedores</h3>
<div class="row mb-2">
    <div class="col-12">
        <div class="float-right">
            <a class="btn btn-primary" href="/fornecedor/cadastro"> Novo Fornecedor</a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="coluna-codigo">Codigo</th>
            <th class="coluna-razao-social">Razao Social</th>
            <th class="coluna-nome-fantasia">Nome Fantasia</th>
            <th class="coluna-inscricao-estadual">Inscrição Estadual</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Models.Fornecedor fornecedor in ViewBag.Fornecedores)
        {
            <tr>
                <td>@fornecedor.Id</td>
                <td>@fornecedor.RazaoSocial</td>
                <td>@fornecedor.NomeFantasia</td>
                <td>@fornecedor.InscricaoEstadual</td>
                <td>
                    <a href="/fornecedor/editar/@fornecedor.Id" class="text-success mr-2"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Editar o Registro">Editar</a>
                    <a href="/fornecedor/delete/@fornecedor.Id" class="text-danger">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th class="coluna-codigo">Codigo</th>
            <th class="coluna-razao-social">Razao Social</th>
            <th class="coluna-nome-fantasia">Nome Fantasia</th>
            <th class="coluna-inscricao-estadual">Inscrição Estadual</th>
            <th>Ação</th>
        </tr>
    </tfoot>
</table>

